@import '~@payloadcms/ui/scss';

.dashboard .before-dashboard {
  margin-bottom: base(1.5);

  &__banner {
    & h4 {
      margin: 0;
    }
  }

  &__actions {
    display: flex;
    flex-wrap: wrap;
    gap: base(0.5);
    margin-top: base(1);
  }

  & a:hover {
    opacity: 0.85;
  }
}
